.home-container {
    text-align: center;
    padding: 50px;
  }
  
  .home-container h1 {
    margin-bottom: 50px;
  }
  
  .home-container .MuiButton-root {
    margin: 0 10px;
  }
  .info h3{
    color: gray;
  }